*{
    background-color: rgb(252, 252, 252);
    font-family: 'inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}


header h1{
    text-align: center;
    font-weight: bold;

}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    width: 100%;
    
}

.textarea, .textarea-msje{
    background-color: rgb(230, 233, 236);
    border: none;
    color: rgb(23, 3, 94);
    text-transform: lowercase;
    border-radius: 10px;
}

.textarea, .textarea-msje:focus{
    outline: none;
}

::placeholder{ 
    color: rgb(23, 3, 94);
    
}

.botones{
    display: flex;
    margin-top: 10px;
    justify-content: space-around;

}


.btn-encriptar{
    background-color: rgb(22, 70, 109);
    border: 1px solid aquamarine;
    border-radius: 24px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    height: 67px;
    width: 200px;
    opacity: 0.6;
    box-shadow: 0px 12px 15px #666666;
    
}

.btn-desencriptar{
    background-color: rgb(22, 70, 109);
    border: 1px solid aquamarine;
    border-radius: 24px;
    font-weight: bold;
    color:aliceblue;
    cursor: pointer;
    height: 67px;
    width: 200px;
    opacity: 0.6;
    box-shadow: 0px 12px 15px #666666;

}

.btn-copiar{
    background-color: rgb(22, 70, 109);
    border: 1px solid aquamarine;
    border-radius: 24px;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    height: 67px;
    margin-top: 10px;
    position: absolute;
    width: 200px;
    opacity: 0.6;
    box-shadow: 0px 12px 15px #666666;

}

.btn:active{
    background-color: rgb(175, 11, 175);
}



